# Requirements both for usign CLI and as a library.

cbor2>=5.4.1
pyscard==2.0.2

#
# If only using for library, you won't need ones below here
#

pyqrcode>=1.2.1

# for CLI command option parsing
click==8.0.3

# for balance getching
requests[socks]==2.26.0